nav {
    background-color: #515f7d;
    color: #fff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top: 0;
    z-index: 10;
}